security:
  user:
    password: user
logging:
  level:
    org:
      hibernate:
        SQL: trace
        type:
          descriptor:
            sql: trace
#      springframework: debug
spring:
  data:
    rest:
      base-path: /api
  jpa:
    hibernate:
      ddl-auto: none