server:
  ssl:
    key-store: classpath:keystore.p12
    key-store-password: tomcat
    key-store-type: PKCS12
    key-alias: tomcat
  # add specific port because of a weird behavior:
  # if port is set to 8080 for example, the redirect to login page is done to localhost:8443/login.
  # needs investigation
  port: 9443

spring:
  datasource:
    url: jdbc:mysql://10.43.110.121:3306/spring_boot_startup?createDatabaseIfNotExist=true
    username: root
    password: xOCYvCqOpv
    tomcat:
      test-while-idle: true
      validation-query: SELECT 1
  flyway:
    # syntax is different in h2 and mysql
    locations: classpath:/db/migration/common,classpath:/db/migration/mysql
